**Ciência de Dados**

Prof. Miguel Bozer da Silva - miguel.bozer@senaisp.edu.br

---

Vamos importar as bibliotecas que vamos usar no projeto na celula a seguir para organizar o nosso projeto:

In [ ]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

##Recebendo os dados

Abaixo temos a célula com o código para receber o conjunto de dados carregando o mesmo diretamente via upload no Colab. Lembre-se de carregar o arquivo via upload igual vimos na última aula.

Vamos visualizar os dados que temos nesse arquivo csv:

A coluna Churn indica se o cliente desistiu ou não do plano que ele tinha com a empresa de Telecom. Um conjunto de dados como esse pode ajudar essas empresas a entender o tipo de cliente que ela possui e ajudar a compreender quais situações um cliente continua com o plano que ele possui com a empresa e quando o cliente pode desistir do seu plano.

## Descartando entradas nos eixos

A coluna de customerID é o código único que cada cliente recebe no banco de dados. Esse tipo de coluna não acrescenta nenhuma informação sobre as características do cliente, apenas está aumentando o número de colunas disponíveis no conjunto de dados.

Antes de removermos a coluna desejada podemos checar via método `columns` o nome das colunas que temos nesse conjunto de dados:

In [ ]:
import pandas as pd

Dessa forma vamos aprender a remover uma coluna usando o método `drop` do pandas. Para isso, usamos o seguinte comando: `dados.drop(["coluna_1", "coluna_2",...,"coluna_n"], axis=1, inplace = True)`.

*   Em coluna_1, coluna_2, ..., coluna_n precisamos apenas informar o nome da coluna que desejamos excluir.

*   O parâmetro `axis=1` para informar que iremos remover uma coluna.  Caso você desejar remover uma linha use `axis=0`.

*   O parâmetro `inplace=True` para garantir que o valor será removido

Vamos checar alguns exemplos:

**Exemplo 1.** Removendo mais de uma coluna e não usando o argumento `inplace=True`:

**Exemplo 2.** Removendo a coluna desejada (customerID) e usando o argumento `inplace=True`:

O segundo exemplo foi persistente e alterou os dados. Deixaremos assim, uma vez que a coluna de customerID não é útil para o nosso projeto.

## Verificando por valores nulos

Podemos usar o método `isnull()` para verificar se temos valores nulos que foram armazenados no nosso conjunto de dados:

Entretanto o resultado não foi o suficiente para visualizarmos se as colunas possuem valores nulos. Para isso, iremos adicionar o método `sum()` que irá somar todos os valores de todas as colunas. Como temos valores booleanos (`True` e `False`) a soma considerará `True` como 1 e `False` como 0.

Temos poucos valores nulos nas colunas "Partner", "tenure", "InternetService" e "OnlineBackup". Esses valores, podem atrapalhar algumas análises nesses dados. Por isso, iremos aprender a excluir as linhas que contêm essas entradas usando o método `dropna()`. **No futuro iremos aprender a substituir esses valores por outros valores númericos de interesse.**

Podemos observar que não temos mais as linhas nulas após excluir as mesmas do nosso conjunto de dados.

## Criando novas colunas no seu DataFrame

Podemos criar uma coluna a partir de outra existente para realizar algum tratamento dos dados ou para realizarmos uma operação matemática que achamos que possa ser interessante para adicionar mais um atributo (coluna) ao nosso conjunto de dados. Por exemplo, temos o valor total gasto pelos clientes e o valor que eles pagaram por mês. Podemos adicionar uma coluna de tempo de contrato, para sabermos quanto tempo eles estão ou ficaram com a assinatura deles:

Podemos acessar o nome das colunas usando o atributo `columns`:

Se copiarmos os nomes das colunas e alterarmos a ordem delas, podemos reorganizá-las como desejarmos:

## Verificando valores únicos em cada coluna

Podemos checar os valores que aparecem em cada coluna com o método `unique()`:

## Agrupamentos de dados

Podemos fazer alguns agrupamentos de dados para observar valores estatisticos como por exemplo a média aritmética. A média aritmética é uma medida de tendência central cujo valor é calculado por:

$\bar{x} = \frac{\sum_{i=0}^{i=n}{x_{i}}}{n}$

Onde $x_{i}$ é o iésimo termo do item que desejo calcular a média, $n$ é o número de elementos que desejo calcular a média e $\bar{x}$ é a média aritmética

O agrupamento pode ser feito via comando `df["coluna_valor_analisado"].groupby([dados["coluna_agrupamento_1"], dados["coluna_agrupamento_2"], ..., dados["coluna_agrupamento_n"]]).mean()`, onde `df` deve ser o seu DataFrame, `"coluna_valor_analisado"` é a coluna com o valor numérico que você deseja analisar, e de `"coluna_agrupamento_1"` até `coluna_agrupamento_n` informamos as colunas que iremos agrupar os nossos dados.

Podemos observar que os clientes que tem maior tempo de contrato são os que mais estão cancelando a sua assinatura com a empresa de Telecom. Poderiamos usar essa informação para criar campanhas de marketing e promoções para manter esses clientes com seus contratos.

Podemos também usar o método sum() para somar os valores do agrupamento:

**O que podemos concluir com o resultado acima?**

## Criando gráfico de Barras simples

Vamos criar um gráfico em barras simples para começarmos a nos familiarizarmos com o plot de gráficos usando o bibliotecas do python. Para isso, vamos usar o `seaborn` que irá permitir que sejam criados diferentes gráficos para os dados que temos no pandas.

O `sns.countplot()` é usado para fazer um gráfico de barras usando dados **categóricos**. Para isso, basta inserir dentro dos seus parenteses uma coluna do seu DataFrame que você deseja visualizar.

Podemos ver que a maioria das pessoas optam por pagamentos via *Electronic check*, que é o débito na conta dessas pessoas.

Com relação ao genero, os clientes são bem distribuidos entre os dois possíveis generos que existem nesse conjunto de dados.